{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% if app.user %}    
        <div class="container_home">
            <div class="border-link_ticket">
                <div class="link_ticket">
                    <a href="{{ path('ticket_index') }}">Voir mes tickets en cours..</a>
                </div>
            </div>
            <div class="border-link_ticket">
                <div class="link_ticket">
                    <a href="{{ path('ticket_new') }}">Créer un ticket</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if not app.user %}
        <div class="index_home">Pour créer des tickets et/ou voir vos tickets,  <a href="{{ path('app_login') }}">connectez-vous</a> ou <a href="{{ path('app_register') }}">inscrivez-vous!</a></div>
    {% endif %}

{% endblock %}
