{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container_home">
        <div class="border-link_ticket">
            <div class="link_ticket">
                <a href="{{ path('ticket_index') }}">Voir mes tickets en cours..</a>
            </div>
        </div>
        <div class="border-link_ticket">
            <div class="link_ticket">
                <a href="{{ path('ticket_new') }}">Créer un ticket</a>
            </div>
        </div>
    </div>
{% if is_granted('ROLE_ADMIN') %}
    <div>fou</div>
{% endif %}

{% if is_granted('ROLE_USER') %}
    <div>gentil</div>
{% endif %}

{% endblock %}
